<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>HOME PAGE</h1>

    <% if ( typeof message != 'undefined' && message.length > 0) { %>
    <p class="successMessage"><%= message %></p>
    <% } %>

    <h3> ADMIN VIEW</h3>
    <table>
			<caption>Hidden Traps Game Users</caption>
			<thead>
				<tr>
					<th>&nbsp;&nbsp;&nbsp;&nbsp;Username</th>
					<th>&nbsp;&nbsp;&nbsp;&nbsp;Email</th>
					<th>&nbsp;&nbsp;&nbsp;&nbsp;Type of User</th>
				</tr>
			</thead>
			<tbody>
				<% rows.forEach((r) => { %>
				<tr>
          <form action="/removeUser/<%= r.userid %>" method="get" onsubmit="return confirmDelete(document.getElementById('<%= r.usertype %>').innerHTML, 
          document.getElementById('<%= r.username %>').innerHTML);">
						<td id="<%= r.username %>"><%= r.username %></td>
						<td id="<%= r.email %>"><%= r.email %></td>
						<td id="<%= r.usertype %>"><%= r.usertype %></td>
            <td><button type="submit" id="deleteUser">Remove user from users list!</button></td>
          </form>
          <script>
            function confirmDelete(usertype, username) {
              if (usertype.toString()=='Admin') {
                alert('Admins cannot be removed from users list!');
                return false;
               }
              else
                return confirm("Are you sure you want to remove " + username.toString() + " from users list?");
            }
          </script>
				</tr>
        <% }); %>
      </tbody>
    </table>
    <form class="" action="/pregame" method="post">
      <button type="submit" name="button">Start</button>
    </form>
    <form class="" action="/rules" method="post">
      <button type="submit" name="button">How to play</button>
    </form>
  </body>
</html>
