<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Confirm your password:</h1>

    <form class="" action="/mailCodeForm" method="post">
      <input type="hidden" name="name" value="<%= insertUsername %>">
      <input type="hidden" name="pwd" value="<%= insertPassword %>">
      <input type="hidden" name="email" value="<%= insertEmail %>">
      <input type="hidden" name="code" value="<%= mailCode %>">
      <input type="text" name="mailCodeInput" value=""><br>
      <% if ( typeof confirmationErr != 'undefined' && confirmationErr.length > 0) { %>
      <p class="errorMessage"><%= confirmationErr %></p>
      <% } %>
      <button type="submit" name="button">Confirm</button>

    </form>
  </body>
</html>
